* {
    margin: 0;
    padding: 0;
    font-family: 'Baron';
    /* text-transform:uppercase; */
    scroll-behavior: smooth
}

body{
    background: linear-gradient(to right top, rgb(40, 85, 87), rgb(58, 110, 112));
}

#root{
    height: auto;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar{
    background-color:transparent !important;
}
.navbar-nav{
    text-align: center;
    margin: auto;
    background-color: transparent !important;
    font-size: 25px;
}

li:hover{
    opacity: 0.2;
    color: white;
}

.container-card-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.about-div-container {
    margin-bottom: 350px;
    margin-top: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-div-inner{
    width: 24em;
}

.about-card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
    background: linear-gradient(to left bottom,rgb(40, 85, 87), rgb(58, 110, 112));
    color: white;
    opacity: 0.5;
    width: 30%;
}

.link-about {
    color: white;
    opacity: none !important;
    font-weight: bold;
}

.link-about:hover{
    opacity: none !important;
    color: silver;
    font-weight: bold;
    text-decoration: none;
}



.icon-container {
    margin-top: 36px;   
}

.icon-link{
    font-size: 50px;
    color: white;
}

.icon-stack > a {
    opacity: 0.3; 
}

.icon-stack > a:hover{
    opacity: 1;
    color:white;
}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 350px;
    perspective: 1000px;
    border-radius: 10px;
}

#profile-picture {
    margin-top: 30px;
    height: 9rem;
    width: 9rem;
    border-radius: 50%;
    filter: grayscale(100%);
}

.h5-name{
    margin-top: 25px;
    opacity: 0.5;
}

.net-title {
    opacity: 0.5;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 10px;
}

.flip-card-front {
    /*background-color: white;*/
    background: linear-gradient(to left bottom,rgb(40, 85, 87), rgb(58, 110, 112));
    color: white;
}

.flip-card-back {
    /*background-color: #2980b9;*/
    background: linear-gradient(to left bottom,rgb(40, 85, 87), rgb(58, 110, 112));
    color: white;
    transform: rotateY(180deg);
}

.container-start-name{
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 200px;
}

.container-start-name > h1{
    font-size: 90px;
    filter: blur(5px);
    color: white;
    opacity: 0.4;
}

.container-start-name > h1:hover{
    filter: blur(0px);
    opacity: 1;
    animation-duration: 3s;
}

.projects-outer{
    margin-top: 600px;
}

#projects-inner{
    width: 80%;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.project-div{
    width: 300px;
    background: linear-gradient(to left bottom,rgb(40, 85, 87), rgb(58, 110, 112));
    border-radius: 10px;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    text-align: center;
    float: left;
    padding: 10px;
}

.cards-design, .cards-design-about{
    background: linear-gradient(to left bottom,rgb(40, 85, 87), rgb(58, 110, 112));
    border-radius: 10px;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    color: white;
}

.cards-design{
    height:300px;
}

.project-icon{
    color: white !important;
    opacity: 0.3;
    font-size: 3rem;
    margin-top: 20px;
}

.project-icon:hover{
    opacity: 0.9;
}

.footer{
    text-align: center;
}

.footer-text{
    color: white;
    opacity: 0.5;
}

.footer-text:hover{
    opacity: 0.2;
}

